<footer class="footer">
    <span *ngIf="activeCount === 0 || activeCount > 1" class="todo-count"><strong>{{activeCount}}</strong> items remaining</span>
    <span *ngIf="activeCount === 1" class="todo-count"><strong>{{activeCount}}</strong> item remaining</span>
    <ul class="filters">
        <li>
            <a (click)="updateDisplayState('all')" 
                class={{buttons[0].state}} 
                href="#/"
            >
                All
            </a>
        </li>
        <li>
            <a (click)="updateDisplayState('active')"
                class={{buttons[1].state}} 
                href="#/active"
            >
                Active
            </a>
        </li>
        <li>
            <a (click)="updateDisplayState('completed')" 
                class={{buttons[2].state}}
                href="#/completed"
            >
                Completed
            </a>
        </li>
    </ul>
    <button class="clear-completed" 
            (click)="onlyActiveTodos=clearCompleted(allItems)"
    >
        Clear completed
    </button>
</footer>