<footer class="footer">
    <span *ngIf="activeCount() === 0 || activeCount() > 1" class="todo-count"><strong>{{activeCount()}}</strong> items remaining</span>
    <span *ngIf="activeCount() === 1" class="todo-count"><strong>{{activeCount()}}</strong> item remaining</span>
    <!-- <span class="todo-count"><strong>{{activeCount()}}</strong> item remaining</span> -->
    <ul class="filters">
        <li>
            <a (click)="updateDisplayState(buttons[0].name)" 
                class={{buttons[0].state}} 
                href="#/"
            >
                All
            </a>
        </li>
        <li>
            <a (click)="updateDisplayState(buttons[1].name)"
                class={{buttons[1].state}} 
                href="#/active"
            >
                Active
            </a>
        </li>
        <li>
            <a (click)="updateDisplayState(buttons[2].name)" 
                class={{buttons[2].state}}
                href="#/completed"
            >
                Completed
            </a>
        </li>
    </ul>
    <button *ngIf="checkForCompleted()"
            (click)="itemService.clearComplete()"
            class="clear-completed"
    >
        Clear completed
    </button>
</footer>