<li *ngIf="item" class={{item.state}}>
    <div class="view">
        <input
            (click)="stateToggle($event)" 
            class="toggle" 
            type="checkbox"
            [checked]="setCheckedState()"
        >
        <label *ngIf="!isEdit"
            (click)="isEdit=true"
            class="todoItem-label"
        >
            {{item.name}}
        </label>
        <input *ngIf="isEdit"
            #editItemInput 
            (keydown.enter)="editItem(editItemInput.value)"
            (keydown)="onEscapePress($event)"
            class="new-todo"
            placeholder="Edit This Item"
            value="{{item.name}}"
            (blur)="onInputBlur()"
            focus-me="true"
        >
        <button 
            (click)="destroyItem()"
            class="destroy"
        >
        </button>
    </div>
    <input class="edit" value="Create a TodoMVC template">
</li>