<li *ngIf="item" class="{{item.state}} {{isEditing()}}">
    <div class="view">
        <input
            (click)="stateToggle()" 
            class="toggle" 
            type="checkbox"
            [checked]="setCheckedState()"
        >
        <!-- <label *ngIf="!isEdit"
            (click)="isEdit=true"
            class="todoItem-label"
        > -->
        <label (click)="isEdit=true" class="todoItem-label">
            {{item.name}}
        </label>
        <!-- <input *ngIf="isEdit"
            #editItemInput 
            (keydown.enter)="editItem(editItemInput.value)"
            (keydown.escape)="onEscapePress($event)"
            class="new-todo"
            placeholder="Edit This Item"
            value="{{item.name}}"
            (blur)="onInputBlur()"
            focus-me="true"
        > -->
        <button 
            (click)="destroyItem()"
            class="destroy"
        >
        </button>
    </div>
    <input
        #editItemInput 
        (keydown.enter)="editItem(editItemInput.value)"
        (keydown.escape)="onEscapePress($event)"
        class="edit"
        value="{{getItemValue()}}"
        (blur)="onInputBlur()"
        focus-me="true"
    >
</li>