<section class="todoapp">
    <papayawhip></papayawhip>
    <header class="header">
    <h1>{{name}}</h1>
    <input
        #newTodo
        (keyup.enter)="addNewTodo(newTodo.value); newTodo.value='' "
        class="new-todo" 
        placeholder="What needs to be done?" 
        autofocus>
    </header>

    <section *ngIf="checkForItems()" class="main">
        <input class="toggle-all" type="checkbox">
        <label
            *ngIf="checkForItems()"
            for="toggle-all" 
            (click)="toggleAllStatus()"
        >
                Mark all as complete
        </label>
        <ul class="todo-list">
            <todo-list 
                *ngFor="let item of items | statefilter:displayState" 
                [item]="item"
            > 
            </todo-list>
        </ul>
    </section>

    <display-group *ngIf="checkForItems()">
    </display-group>
</section>